{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Items</a></li>
  <li class="breadcrumb-item active">current Request</li>
{% endblock %}

{% block content %}
   
    <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Quantity</th>
      
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{item.quantity}}</td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
