{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Items</a></li>
  <li class="breadcrumb-item active">current Request</li>
{% endblock %}

{% block content %}
      <div class="mb-4">
    <a href="{% url 'request' %}" class="btn btn-primary align-right">Request</a>
  </div>
    <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Item Name</th>
        <th>Price</th>
        
      
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
