{% extends 'base.html' %}
 {% block breadcrumb %}
  <li class="breadcrumb-item active">Items</li>
{% endblock %}
{% block content%}

<div class="mb-4">
    <a href="/listall" class="btn btn-outline-success float-right">See All</a>
	<a href="" class="btn btn-outline-success float-right">Add Item</a>
  </div>


			Hello, Here is the list of all items in the canteen category wise
			
			{% for category,items in CategoryItem.items %}
				<table>
				<th>{{category}}</th>

					<tr>
					{% for item in items %}
						<td style="padding-right: 20px;">
							<div class="card" style="width: 14rem;">
							  <img class="card-img-top" src={{item.image.url| slice:"8:" }} alt="Card image cap" style="width: 100px;height:100px; align-self: center;">
							  <div class="card-body">
							    <h5 class="card-title">{{item.name}}</h5>
							    
							   </div>
							   <ul class="list-group list-group-flush">
							     <li class="list-group-item">Quantity: {{item.quantity}}</li>
							     <li class="list-group-item">Price: {{item.price}}</li>
							   </ul> 
							   </div>
						<td>
					{% endfor %}
					</tr>
				</table>

				<br><br>
			{% endfor %}
 

 <pr> </pr>

{% endblock %}
